*{
    margin: 0;
    padding: 0;
}
/* Стиль для хэдера */
.head{
    display: flex;
    background-color: yellow;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding-bottom: 1vh;
}
/* Стиль для блока с логотипом */
.imag{
    flex: 1 1 40%;
    margin-left: 10px;
    margin-top: 2vh;
    display: flex;
    font-family: 'Jost','Oswald', serif;
    font-size: 2.1em;
    align-items: center;
}
/* Стиль для изображения */
.im{
    border-radius: 50%;
}
/* Стиль для блока с меню */
.menu-overlay{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index:-1;
}
/* Стиль для блока с меню при активации */
.menu-overlay#active{
    background-color: rgba(0,0,0,.9);
    z-index:1;
}
/* Эффектное появление меню при активации */
.menu-overlay#active .menu_wrapper{
    transform: scale(1);
}
/* Стиль для кнопки вызова меню */
#toggle-icon{
    position: relative;
    top: 15px;
    right: 20px;
    height: 54px;
    background-color: rgba(0,0,0,.8);
    color: yellow;
    z-index: 10;
    cursor: pointer;
    transition: .5s;
}
#toggle-icon i{
    font-size: 40px;
    padding: 7px;
}
/* Ховер-эффект для кнопки вызова меню */
#toggle-icon:hover{
    color: rgba(255,255,255);
}
/* Стиль для меню */
.menu_wrapper{
    list-style: none;
    width: 100%;
    text-align: center;
    transition: all .5s;
    transform: scale(0);
}
/* Стиль для элементов меню */
.menu_wrapper li{
    margin: 8px 0;
}
.menu_wrapper li .box{
    cursor: pointer;
    display: block;
    font-size: 2.25em;
    font-weight: 400;
    text-decoration: none;
    color: #fff;
    transition: .5s;
    font-family: 'Jost','Oswald', serif;
}
/* Стиль для подменю */
.submenu {
    width: auto;
    z-index: 10;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    display: block;
    text-align: center;
}
/* Стиль для элементов подменю */
.submenu li .box{
    font-size: 1.65em;
}
.submenu li{
    margin: 5px 0;
}
/* Ховер-эффект для меню */
.menu_wrapper>li .box:hover{
    color: yellow;
}
/* Стиль для стрелки вызова подменю */
#strelka{
    display: none;
    padding:0;
    text-align: left;
    justify-content: left;
}
/* Основной блок сайта */
.main{
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    grid-auto-rows: minmax(10px,auto);
    margin-top: 10px;
    margin-left: 15px;
}
/* Заголовок */
.main article span{
    font-family: 'Jost','Oswald', serif;
    font-size: 1.9em;
    font-weight: 200;
    text-decoration: none;
    color: black;
    margin-bottom: 25px;
}
/* Статья */
.main article{
    grid-column-start: 2;
    grid-column-end: 3;
    font-family: 'Jost','Oswald', serif;
    font-size: 1.4em;
    text-decoration: none;
    color: black;
    margin-top: 3vh;
    padding: 5px 0;
    text-indent:10px;
}
/* Достоинства в виде карточек */
.advance{
    margin-top: 3vh;
    grid-column-start: 2;
    grid-column-end: 3;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 3vw;
    row-gap: 2vh;
}
.card:nth-child(1){
    grid-column-start: 1;
    grid-column-end: 2;
}
.card:nth-child(2){
    grid-column-start: 2;
    grid-column-end: 3;
}
.card:nth-child(3){
    grid-column-start: 1;
    grid-column-end: 2;
}
.card:nth-child(4){
    grid-column-start: 2;
    grid-column-end: 3;
}
.card {
    font-family: 'Jost','Oswald', serif;
    padding: 10px;
    position: relative;
    background: linear-gradient(to bottom,yellow,lightyellow);
    color: black;
    min-height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    box-shadow: 3px 3px 1px rgba(0,0,0,0.9);
}
.card:hover{
    background: linear-gradient(to bottom,coral,lightcoral);
}
.card .upper {
    margin-top: 2.5vh;
    flex: 30% 1 1;
    text-align: center;
    font-size: 1.85em;
}
.card .lower {
    flex: 70% 1 1;
    text-align: center;
    font-size: 1.2em;
}
footer{
    width: 100%;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    background: black;
    margin-top: 25px;
}
footer .info{
    flex: 1 1 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
footer .info h3{
    color: grey;
    font-size: 16px;
    margin: 5px 0;
    cursor: pointer;
    font-family: 'Jost','Oswald', serif;
}
footer .socials{
    flex: 1 1 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
footer .socials img{
    cursor: pointer;
}
footer>h3{
    font-family: 'Jost','Oswald', serif;
    flex: 1 1 100%;
    text-align: center;
    color: grey;
    font-size: 16px;
}
@keyframes fade {
    /* Устанавливаем и изменяем степень прозрачности: */
    from {
        opacity: 0.5
    }
    to {
        opacity: 1
    }
}
@media (max-width: 1400px) and (min-width: 1000px){
    .main{
        grid-template-columns: .5fr 5fr .5fr;
        grid-auto-rows: minmax(10px,auto);
    }
}

