<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LinguaSchool</title>
    <link  href="https://fonts.googleapis.com/icon?family=Material+Icons&display=swap" rel="stylesheet">
    <link  href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet">
    <link  href="https://fonts.googleapis.com/css?family=Jost&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
<header class="head">
    <div class="imag">
        LinguaSchool
        <div class="im"><img src="klipartz.com.png" width="90" height="80" alt="LOGO"></div>
    </div>
    <div id="toggle-icon"><i class="material-icons">menu</i></div>
    <div class="menu-overlay">
        <ul class="menu_wrapper">
            <li><a href="/index" class="box">Главная</a></li>
            <li><a href="/teachers" class="box">Преподаватели<i id="strelka" class="material-icons">arrow_drop_down</i></a>
                <ul class="submenu">
                    <li><a href="/teachers/ENGLISH" class="box">Английский язык</a></li>
                    <li><a href="/teachers/SPANISH" class="box">Испанский язык</a></li>
                    <li><a href="/teachers/GERMAN" class="box">Немецкий язык</a></li>
                    <li><a href="/teachers/FRENCH" class="box">Французский язык</a></li>
                </ul>
            </li>
            <li><a href="/reviews" class="box">Отзывы</a></li>
            <li><a href="/materials" class="box">Дополнительные материалы</a></li>
        </ul>
    </div>
</header>
<div class="main">
    <article>
        <span>О нас</span><br>
        <p>LinguaSchool - онлайн-школа иностранного языка, в который вы можете выучить иностранный язык с нуля или же
            повысить свой существующий уровень. В нашей школе работает большое количество высококлассных, профессиональных,
        а главное заинтересованных учителей. Прочитав отзывы и описание учителей вы сможете выбрать для себя наиболее подходящего
        и начать свое обучение.</p>
    </article>
    <div class="advance">
        <div class="card">
            <div class="upper">Более 10-и тысяч довольных студентов</div>
            <div class="lower">Обучение в нашей школе опробовали около 11-и тысяч студентов с разными начальными знаниями
                и предпочтениями. Более 95% из них остались довольны по итогам обучения.</div>
        </div>
        <div class="card">
            <div class="upper">Средний опыт работы наших учителей - 16 лет</div>
            <div class="lower">В нашей школе преподают учителя с разным профессиональным опытом. И благодаря отзывам и
                возможности выбора, вы сможете записаться на обучение к преподавателю, который понравится именно вам.</div>
        </div>
        <div class="card">
            <div class="upper">Возраст учителей - от 25-и до 65-и лет</div>
            <div class="lower">Преподаватели разных возрастов - еще одно из преимуществ нашей школы. У каждого возраста свои плюсы
            и при желании вы сможете воспользоваться всеми</div>
        </div>
        <div class="card">
            <div class="upper">Личный подход в обучении для каждого студента</div>
            <div class="lower">При проведении первого занятия, преподаватель проведет опрос о ваших целях обучения и предпочтениях.
            На основе этого опроса вы с преподавателем сможете составить наиболее удобный и продуктивный план обучения.</div>
        </div>
    </div>
</div>
<footer>
    <div class="info">
        <h3>Реклама</h3>
        <h3>О нас</h3>
        <h3>Обратная связь</h3>
        <h3>Пользовательское соглашение</h3>
    </div>
    <div class="socials">
        <img src="icons8-twitter-60.png" alt="twi" onClick="location.href='https://twitter.com/?lang=ru'">
        <img src="icons8-youtube-48.png" alt="you" onClick="location.href='https://www.youtube.com/'">
        <img src="icons8-facebook-48.png" alt="face" onClick="location.href='https://ru-ru.facebook.com/'">
        <img src="icons8-instagram-48.png" alt="insta" onClick="location.href='https://www.instagram.com/?hl=ru'">
    </div>
    <h3>Артюхин Даниил Кириллович - 2021. Все права защищены</h3>
</footer>
</body>
</html>