<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LinguaSchool</title>
    <link  href="https://fonts.googleapis.com/icon?family=Material+Icons&display=swap" rel="stylesheet">
    <link  href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet">
    <link  href="https://fonts.googleapis.com/css?family=Jost&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../static/css/login.css">
</head>
<body>
<div class="wrapper">
    <div class="header">
        <h3 class="sign-in">Оставьте отзыв</h3>
    </div>
    <div class="clear"></div>
    <form th:action="@{/review/{id}(id=${teacher.id})}" method="post" class="login-form">
        <div>
            <label class="rad-label">
                <input type="radio" class="rad-input" id="yes" name="recommendation" value="yes" checked>
                <div class="rad-design"></div>
                <div class="rad-text">Рекомендую</div>
            </label>
            <label class="rad-label">
                <input type="radio" class="rad-input" id="no" name="recommendation" value="no">
                <div class="rad-design"></div>
                <div class="rad-text">Не рекомендую</div>
            </label>
        </div>
        <div>
            <textarea class="text-input" name="text" id="text" placeholder="Текст отзыва"></textarea>
        </div>
        <div>
            <input type="submit" value="Отправить отзыв"/>
        </div>
        <div class="clear"></div>
    </form>
</div>
</body>
</html>