<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"  content="width=device-width, initial-scale=1.0">
    <title>LinguaSchool</title>
    <link  href="https://fonts.googleapis.com/icon?family=Material+Icons&display=swap" rel="stylesheet">
    <link  href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet">
    <link  href="https://fonts.googleapis.com/css?family=Jost&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script defer src="/static/js/script.js"></script>
    <script th:inline="javascript"  defer src="/static/js/query.js"></script>
</head>
<body>
<header class="head">
    <div class="imag">
        LinguaSchool
        <div class="im"><img src="/static/img/globe.png" width="80" height="45" alt="LOGO"></div>
    </div>
    <div id="toggle-icon" onclick="clicker(this)"><i class="material-icons">menu</i></div>
    <div class="menu-overlay">
        <ul class="menu_wrapper">
            <li><a href="/" class="box">Главная</a></li>
            <li><a href="/teachers" class="box">Преподаватели<i id="strelka" class="material-icons">arrow_drop_down</i></a>
                <ul class="submenu">
                    <li><a href="/teachers/ENGLISH" class="box">Английский язык</a></li>
                    <li><a href="/teachers/SPANISH" class="box">Испанский язык</a></li>
                    <li><a href="/teachers/GERMAN" class="box">Немецкий язык</a></li>
                    <li><a href="/teachers/FRENCH" class="box">Французский язык</a></li>
                </ul>
            </li>
            <li><a href="/reviews" class="box">Отзывы</a></li>
            <li><a href="/materials" class="box">Дополнительные материалы</a></li>
        </ul>
    </div>
</header>
<div class="reviews">
    <div class="review_card" th:each="review : ${reviews}">
        <div class="info">
            <h2 th:text="${review.author.fullName()}"></h2>
            <h2 th:text="${review.teacher.viewName()}"></h2>
            <span th:if="${review.isRecommended() == true}" id="approve">Оценка: Рекомендую</span>
            <span th:if="${review.isRecommended() == false}" id="disapprove">Оценка: Не рекомендую</span>
            <div th:utext="${review.text}"></div>
        </div>
    </div>
</div>
<footer>
    <div class="info">
        <h3>Реклама</h3>
        <h3>О нас</h3>
        <h3>Обратная связь</h3>
        <h3>Пользовательское соглашение</h3>
    </div>
    <div class="socials">
        <img src="/static/img/icons8-twitter-60.png" alt="twi" onClick="location.href='https://twitter.com/?lang=ru'">
        <img src="/static/img/icons8-youtube-48.png" alt="you" onClick="location.href='https://www.youtube.com/'">
        <img src="/static/img/icons8-facebook-48.png" alt="face" onClick="location.href='https://ru-ru.facebook.com/'">
        <img src="/static/img/icons8-instagram-48.png" alt="insta" onClick="location.href='https://www.instagram.com/?hl=ru'">
    </div>
    <h3>Артюхин Даниил Кириллович - 2022. Все права защищены</h3>
</footer>
</body>
</html>